@font-face {
    font-family: Black;
    src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
    font-family: Bold;
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: Light;
    src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: Medium;
    src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: Thin;
    src: url("../fonts/Roboto-Thin.ttf");
}
body, html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    line-height: 100%;
    position: relative;
}
#tools {
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    z-index: 2;
}
#page {
    position: relative;
    top: 43px;
    z-index: 1;
}