@font-face {
    font-family: Black;
    src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
    font-family: Bold;
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: Light;
    src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: Medium;
    src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: Thin;
    src: url("../fonts/Roboto-Thin.ttf");
}
body, html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
}