
/*******************
 Main
 *******************/

#menu {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    color: #FFF;
    z-index: 2;
}



/*******************
 Shadow
 *******************/

#menu-shadow {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    background: #000;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}
.opened #menu-shadow {
    opacity: 0.7;
    visibility: visible;
    -webkit-transition-delay: 0s;
}



/*******************
 Menu
 *******************/

#menu-element {
    position: absolute;
    top: 0; left: 0;
    width: 240px;
    height: 100%;
    background: #E53935;
    z-index: 2;
    -webkit-transform: translateX(-240px);
    -webkit-transition: -webkit-transform 0.3s ease;
}
.opened #menu-element {
    -webkit-transform: translateX(0);
}



/*******************
 Title
 *******************/

#menu .title {
    font-family: Regular;
    padding: 20px 0 30px 12px;
}
#menu .title h1 {
    font-weight: normal;
    font-size: 8px;
    margin: 0 0 2px 2px;
}
#menu .title h2 {
    font-weight: normal;
    font-size: 28px;
    margin: 0;
}



/*******************
 Items
 *******************/

#menu-items {

}
#menu-items a {
    display: block;
    overflow: hidden;
    height: 36px;
    border-bottom: 1px solid #D32F2F;
}
#menu-items a.current {
    background: #D32F2F;
    box-shadow: inset 1px 0 0 0 #FFF;
}
#menu-items a i {
    display: block;
    float: left;
    height: 36px;
    width: 36px;
    background-size: 14px 14px;
    background-position: center center;
    background-repeat: no-repeat;
}
#menu-items a span {
    display: block;
    float: left;
    font-family: Thin;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 36px;
}
#menu-items a b {
    display: block;
    float: right;
    font-size: 9px;
    font-family: Bold;
    line-height: 36px;
    padding: 0 14px 0 0;
}



/*******************
 Languages
 *******************/

#menu-languages {
    position: absolute;
    bottom: 10px; left: 6px;
    font-family: Black;
}
#menu-languages a {
    display: block;
    float: left;
    text-transform: uppercase;
    font-size: 10px;
    padding: 4px 10px 4px 10px;
}
#menu-languages a.current {
    text-decoration: underline;
}


/*******************
 Icons
 *******************/

.icon-home      {background-image: url("../../images/icons/home.png");}
.icon-weather   {background-image: url("../../images/icons/weather.png");}
.icon-holidays  {background-image: url("../../images/icons/holidays.png");}
.icon-events    {background-image: url("../../images/icons/events.png");}
.icon-births    {background-image: url("../../images/icons/births.png");}
.icon-horoscope {background-image: url("../../images/icons/events.png");}