#toolbar {
    position: relative;
    height: 42px;
    background: #F44336;
    font-family: Regular;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    z-index: 3;
}
#toolbar a {
    display: block;
    height: 42px;
    width: 42px;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
}
#toolbar p {
    margin: 0;
    float: left;
    color: #FFF;
    line-height: 42px;
    font-size: 16px;
}
#toolbar-menu {
    float: left;
    background-image: url("../../images/icons/menu.png");
}
#toolbar-calendar {
    float: right;
    background-image: url("../../images/icons/calendar.png");
}